#msgBox{width:60%;background:#EEE;border-radius:5px;margin:10px auto;padding-top:10px;}
#msgBox form h2{font-weight:400;font:400 18px/1.5 \5fae\8f6f\96c5\9ed1;}
#msgBox form{padding:0 20px 15px;}
#userName,#conBox{color:#777;border:1px solid #d0d0d0;border-radius:6px;padding:3px 5px;font:14px/1.5 arial;}
#userName.active,#conBox.active{border:1px solid #7abb2c;}
#userName{height:20px;}
#conBox{width:80%;resize:none;height:65px;overflow:auto;}
#msgBox form div{position:relative;color:#999;margin-top:10px;}
#msgBox img{border-radius:3px;}
#sendBtn{width:80px;height:34px; background:#ff8140;display:block; float:right;line-height:30px;border-radius:5px;cursor:pointer;color:#fff;text-align:center;font-family:"微软雅黑";opacity:0.9}
#sendBtn:hover{opacity:1}
#msgBox form .maxNum{font:26px/30px Georgia, Tahoma, Arial;padding:0 5px;}
#msgBox .list{padding:10px;}
#msgBox .list h3{position:relative;height:33px;font-size:14px;font-weight:400;background:#e3eaec;border:1px solid #dee4e7;}
#msgBox .list h3 span{position:absolute;left:6px;top:6px;background:#DDDDDD;line-height:28px;display:inline-block;padding:0 15px;}
#msgBox .list ul{overflow:hidden;zoom:1;}
#msgBox .list ul li{float:left;margin-left:-20px; clear:both;width:100%;border-bottom:1px dashed #d8d8d8;padding:10px 0;background:#fff;overflow:hidden;list-style: none;}
#msgBox .list ul li:hover{background:#FCFCFC;}
#msgBox .list .userPic{float:left;width:50px;height:50px;display:inline;margin-left:10px;border:1px solid #ccc;border-radius:3px;}
#msgBox .list .content{float:left;width:88%;font-size:14px;margin-left:60px;font-family:arial;word-wrap:break-word;}
#msgBox .list .contentNone{height: 50px;line-height: 50px;text-align: center;color: #999999}
#msgBox .list .userName{display:inline;padding-right:5px;margin-left: 10px;}
#msgBox .list .userName a.like{float: right;color: #BBBBBB; font-size: 15px;font-weight: normal;}
#msgBox .list .userName span.likeCount{float: right;color: #BBBBBB;font-size: 13px;font-weight: normal;padding: 2px;margin-right: 5px;}
#msgBox .list .userName a:hover{text-decoration: none;}
#msgBox .list .userName a i:hover{color: #EB613D}
#msgBox .list .userName a i.yet:hover{color: #BBBBBB; cursor: text;}
#msgBox .list .msgInfo{word-wrap:break-word;margin-left: 10px;}
#msgBox .list .times{color:#889db6;font:12px/18px arial;margin-top:5px;overflow:hidden;zoom:1;}
#msgBox .list .times span{float:left;margin-left: 10px;}
#msgBox .list .times a{float:left; margin-left: 10px;display:none;}
#msgBox .list .pagings{margin: 0 auto;text-align: center;}
#msgBox .list .pagings a{font-size: 25px;text-decoration: none;}
#msgBox .list .pagings .nomore{color: #AAA;display: none;}

.tr{overflow:hidden;zoom:1;}
.tr p{float:right;line-height:30px;}
.tr *{float:left;}

@media screen and (max-width: 600px) {
  #msgBox{width:100%;}
  #msgBox .list ul li {width: 108%; margin-left: -30px;}
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  #msgBox{width:100%;}
  .gMyTHp { padding: 20px 40px;}
}
